#add-book {
	background-color: #fff;
	width: 400px;
	height: 200px;
	padding: 4rem;
	margin: 3% 70% 0 8%;
	border-radius: 1rem;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#add-book .field {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
}

#add-book label {
	text-align: right;
	padding: 0.5rem;
}

#add-book select,
#add-book input {
	margin: 0.5rem;
	padding: 0.5rem;
	box-sizing: border-box;
}

#add-book button {
	border-radius: 50%;
	border: none;
	background-color: #61c3fd;
	width: 60px;
	height: 60px;
	font-size: 50px;
	font-weight: 100;
	font-style: normal;
	color: #fff;
}
